@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
  margin: 0;
  font-size: 16px;
  background: #f5f5dc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

.quiz-over-modal {
  
}

.content {}

.quiz-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: aquamarine;
}

.question-number {
  font-size: 18px;
  color: black;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 25px;
}

.question {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 22px;
  color: black;
  font-weight: 400;
  
}

.options {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

.options div{
  font-size: 16px;
  margin-bottom: 10px;
}

.option {
  background-color: #d7d7d7;
  margin-top: 5px;
  border-radius: 5px;
  line-height: 50px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  padding-left: 10px;
}

.option:hover{
  opacity: 1;
}

.options div.correct{
  color: #ffffff;
  background-color: green;
}

.options div.wrong{
  color: #ffffff;
  background-color: red;
}

.options div.disabled{
  pointer-events: none;
}

.option1 {
}

.option2 {}

.option3 {}

.option4 {}

.button {
  background-color: f5f5dc;
  border: none;
  color: black;
  padding: 15px 45px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  transition: 0.3s;
  font-size: 16px;
  margin: 15px 0;
}

.button:hover {
  opacity: 1
}

.answear-indicator div{
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: #f5f5dc;
  margin-right: 10px;
}

.answear-indicator div.correct {
  background-color: green;
}

.answear-indicator div.wrong {
  background-color: red;
}

.quiz-over-modal{
  opacity: 0;
}

.quiz-over-modal div.active{
  opacity: 1;
  background-color: aquamarine;
}


